.InputBox {
  background-color:transparent;
  border: none;
  border-bottom: 2px solid black;
  margin-left: 5px;
  text-align: center;

  &.error {
    border-color: tomato;
  }

  &:focus {
    border-color: #00a1fb;
  }

  &.correct {
    border-color: green;
  }
}