@import url('./variables.pcss');

.wrapper {
  display: flex;
  max-height: 100vh;
  height: 100vh;
  font-family: futura-pt,sans-serif,sans-serif;
  background-color: var(--background);
  color: var(--text);

  & > aside {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 500px;
  }

  & pre {
    font-size: 1rem;
    white-space: pre-wrap;
  }

  & img {
    max-width: 100%;
  }
}

